extends ./layout.jade

block content
    div.row
        div#instructions.pull-right
            a(href="/instructions") setup guide
        h1 Recent results
    table.table
        thead#wow
            tr
                th repository
                th errors
                th warnings
                th notices
                th total
        tbody#wow
            each report in repos
                tr
                    td 
                        a(href="/#{report.repoName}") #{report.repoName}
                    td #{report.error}
                    td #{report.warning}
                    td #{report.notice}
                    td #{report.total}
    div.row
        h1#yes Level 1 header
        h3#yes Level 3 header